
  
  
  
  .Main {
    background-color: #040F49;
    width: 100%;
    min-height: 100vh; /* Change height to min-height */
    color: white;
    position: relative; /* Add position: relative */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
  }
  
  @keyframes floatUp {
    from {
      transform: translateY(400px); /* Initial position: move 100px down */
      opacity: 0; /* Initial opacity: hidden */
    }
    to {
      transform: translateY(0); /* Final position: no translation */
      opacity: 1; /* Final opacity: fully visible */
    }
  }
  
.Main h1{
  width: fit-content;
  display: flex;
  flex-shrink: 1;
  margin-top: 2%;
  margin-left: 2%;
}

.pageTitle{
  display: flex;
  flex-direction: row;
  height: fit-content;
}

  .info {
    background-color: whitesmoke;
    width: 100%;
    height: 76vh;
    border-radius: 30px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-top: 3%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: floatUp 0.8s ease forwards; 
    overflow-y: auto;
  }
  
  .info *{
    color: black;
  }
  
 
.totalPoints {
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 2%;
  position: absolute;
  right: 2%; /* Adjust right position */
  top: 2%; /* Add top position */
}

  .totalPoints *{
    color: black;
    text-align: center;
    font-size: large;
  }


  .achInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .achievements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: left;
    width: 100%;
  }

  .achievementDetails{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    flex-grow: 1;
    max-width: 30%;
    line-height: 200%;
    margin: 3%;
}
  
  