
.Main {
  background-color: #040F49;
  width: 100%;
  min-height: 100vh; /* Change height to min-height */
  color: white;
  position: relative; /* Add position: relative */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children in a column */
}

  
.Main h1{
  width: fit-content;
  display: flex;
  flex-shrink: 1;
  margin-top: 2%;
  margin-left: 2%;
}
  @keyframes floatUp {
    from {
      transform: translateY(400px); /* Initial position: move 100px down */
      opacity: 0; /* Initial opacity: hidden */
    }
    to {
      transform: translateY(0); /* Final position: no translation */
      opacity: 1; /* Final opacity: fully visible */
    }
  }
  
  .info {
    background-color: whitesmoke;
    width: 100%;
    height: 74vh;
    border-radius: 30px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    animation: floatUp 0.8s ease forwards; /* Apply animation */
  }
  
  .info *{
    color: black;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #D9D9D9;
  }
  
.projectDetails {
  background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    flex-grow: 1;
    max-width: 30%;
    line-height: 200%;
    
}


  
 .projectPanel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
 } 
  
 .projectPanel *{
  max-width: max-content;
 }

 