@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.Main {
  background-color: #040F49;
  width: 100%;
  min-height: 100vh; /* Change height to min-height */
  color: white;
  position: relative; /* Add position: relative */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children in a column */
}

  
.Main h1{
  width: fit-content;
  display: flex;
  flex-shrink: 1;
  margin-top: 2%;
  margin-left: 2%;
}
@keyframes floatUp {
  from {
    transform: translateY(400px); /* Initial position: move 100px down */
    opacity: 0; /* Initial opacity: hidden */
  }
  to {
    transform: translateY(0); /* Final position: no translation */
    opacity: 1; /* Final opacity: fully visible */
  }
}

.info {
  background-color: whitesmoke;
  width: 100%;
  height: 75vh;
  border-radius: 30px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: floatUp 0.8s ease forwards; /* Apply animation */
}

.info *{
  color: black;
  font-size: x-large;
}


.info1 {
  text-align: center;
  line-height: 120%;
}




  .profilePicContainer{
    width: 300px;
    height: 300px;
    background-color: gray;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    box-shadow: 2px;
  }
     
  .material-symbols-outlined {
    margin-right: 8px; /* Add right margin to create space between icon and link */
  }
  
  .profilePic{
    display: flex;
    max-width: max-content;
    max-height: max-content;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }


  .userInfo{
    width: 500px;
    height: 500px;
    margin-top: 600px;
    font-size: large;
    font-stretch: expanded;
    text-align: center;
    line-height: 150%;
  }
  
  .mainContainer {
    width: 100vw; 
    height: 100vh; 
    display: flex;
  }

  .layoutContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 100vh;
    margin-left: 30px;
  }

  .homeDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  
  
   .contentBoard{
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
   }

   .layout-container{
    margin-left: 0%;
   }

   
   .basicDetails{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10%;
    width: 100%;
    line-height: 120%;
   }

   .projectDetails{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3%;
    width: fit-content;
    display: flex;
    line-height: 150%;
    margin: 5%;
   }
   
   .wheel{
    width: 20%;
    background-color: white;
    border: 1px solid black;
    padding: 0.5%;
    margin: 2%;
   border-radius: 10px;
   text-align: center;
   color: lightseagreen;
  }