.Main {
    background-color: #040F49;
    width: 100%;
    min-height: 100vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Main h1 {
    width: fit-content;
    display: flex;
    flex-shrink: 1;
    margin-top: 2%;
    margin-left: 2%;
}

.pageTitle {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.info {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-top: 3%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: floatUp 0.8s ease forwards; 
    overflow-y: auto;
}
/* 
.info * {
    color: black;
} */

@keyframes floatUp {
    from {
        transform: translateY(400px); /* Initial position: move 100px down */
        opacity: 0; /* Initial opacity: hidden */
    }
    to {
        transform: translateY(0); /* Final position: no translation */
        opacity: 1; /* Final opacity: fully visible */
    }
}

.formContainer{
    background-color: white;
    border: 1px solid black;
    box-shadow: #333;
    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.info form {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem; 
    overflow-y: auto; 
    max-height: 80vh; 
    margin-bottom: 2rem; 
    width: 100%; /* Adjusted width for the form */
    justify-content: center; /* Centering the form horizontally */
    align-items: center;
}

.info form *{
width: 70%;
}
.formGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContents{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info form div {
    width: 100%; /* Set width to 100% for full-width input fields */
    margin-bottom: 1.5rem;
}


.info form label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #333; 
    display: block;
    font-weight: bold; 
}

.info form input[type="password"] {
    width: 70%; 
    padding: 0.8rem;
    border: 2px solid black; 
    border-radius: 6px;
    font-size: 1.1rem;
    transition: border-color 0.3s ease; 
    box-sizing: border-box; 
}

.info form input[type="password"]:focus {
    outline: none;
    border-color: #007bff; 
}

.info form button[type="submit"] {
    padding: 0.8rem 1.5rem;
    background-color: #040F49; 
    color: #fff; 
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    width: 70%;
    transition: background-color 0.3s ease; 
}

.info form button[type="submit"]:hover {
    background-color: white;
    color: #040F49; 
    border: 1px solid #040F49;
}

@media (max-width: 768px) {
    .info form {
        width: 90%; /* Adjusted width for smaller screens */
    }
}
.error{
    color: red;
}