.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px; /* Adjust width as needed */
    height: 700px; /* Adjust height as needed */
    margin: auto;
  }


  .loginButton{
    background-color:hsl(177, 70%, 41%) ;
    border: 2px solid black;
    width: 500px;
  }
  

  .loginButton:hover{
    background-color: white;
    border: 2px solid hsl(177, 70%, 41%);
    color: hsl(177, 70%, 41%);
  }