
.title{
    justify-content: center;
    align-items: flex-start;
}

.nav{
    margin-right: auto;
}

.links{
    margin-right: auto;
    margin-left: 10px;
}

.switchContainer{
    margin-right: 50px;
}

.formCheckInput:checked{
    background-color: lightseagreen;
    border-color: lightseagreen;
}

.navLink{
    color:black;
}

.navLink:hover{
    color: lightseagreen;
}