

/* Add a slide-in-from-bottom animation */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.login-container {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center;
  height: 100vh; 
  
}

.login-left-container {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 50%;
  background-color: rgba(4, 15, 73, 0.199);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
  width: 445px;
  height: 572px;
  top: 219px;
  left: 289px;
  padding: 5% 20px 20px 5%; /* top right bottom left */
  margin-left: 2%;

  /* Add blur effect */
  backdrop-filter: blur(4px); /* Adjust the blur radius as needed */
  animation: slideInFromBottom 1s ease forwards;
}

.login-right-container {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 50%;
  background-color: rgba(4, 15, 73, 0.65);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
  width: 445px;
  height: 572px;
  top: 219px;
  left: 734px;
  padding: 5% 20px 20px 5%; /* top right bottom left */
  margin-right: 2%;

  display: block; /* Use Flexbox */
  align-items: center; /* Vertically center the content */
  animation: slideInFromBottom 1.5s ease forwards;

}

.login-h1 {
  color: aliceblue;
  font-size: 55px;
  font-weight: 700;
  line-height: 83px;
  text-align: left;
  width: 249px;
  top: 301px;
  left: 347px;
  margin-top: 0px;
}

.login-right-container h1 {
  padding-top: 110px;
}

.login-p{
  color: white;
}

.input-label{
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 5px;
}

.login-input {
  display: block;
  width: 273px;
  height: 43px;
  top: 432px;
  left: 347px;
  border-radius: 12px;
  border: 1px solid rgba(245, 245, 245, 0.5);
  background-color: rgba(4, 15, 73, 0.63);
  color: rgba(245, 245, 245, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a drop shadow */
  margin-top: 10px; /* Set space above the block */
  padding-left: 15px;
  font-size: 16px;
  color: white;
}
.login-input::placeholder {
 
  color: rgba(255, 255, 255, 1); /* Change the color of the placeholder text */
/* Apply italic style to the placeholder text */
  font-size: 14px; /* Set the font size of the placeholder text */
  /* Add any additional styles you want to apply to the placeholder text */
}

.login-button{
  cursor: pointer;
  width: 288px;
  height: 43px;
  top: 647px;
  left: 347px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.75);
 
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
 
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  transition:transform 0.3s ease;
}
 
.login-button:hover{
  background-color: rgba(255, 255, 255, 0.911);
  color: rgba(4, 15, 73, 0.65);
  border: 2px solid rgba(4, 15, 73, 0.65);
  transform:scale(1.03);
}

.input-set{
  margin-bottom: 30px;
}
.login-button{

  margin-top: 30px;
}


.password-input-container {
  position: relative;
  margin-bottom: -4%;
}

.eye-icon {
  position: relative;
  top: -20px;
  right: -252px;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.error-message {
  width: 283px;
  border-radius: 12px;
  border: 2px solid rgba(255, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  animation: pop 0.5s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.input-set .error-message{
  margin-top: 30px;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .login-left-container,
  .login-right-container {

    width: 80%; /* Make containers full width on smaller screens */
    border-radius: 0; /* Remove border radius on smaller screens */
    border-left: none; /* Remove left border on smaller screens */
    border-right: none; /* Remove right border on smaller screens */
    order: 2; /* Change the order of the containers */
    margin-left: 2%;
    margin-right: 2%;
  }
  .login-left-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-left-radius: 50px; /* Restore bottom border radius for the right container */
    border-bottom-right-radius: 50px;
    margin-bottom: 5%;
  }
  .login-left-container h1{
    font-size: 30px;
    margin: 0%;

  }

  .login-right-container {
    height: auto;
    display: flex;
    border-top: none; /* Remove top border on smaller screens */
    order: 1; /* Change the order of the containers */
    border-top-left-radius: 50px; /* Restore bottom border radius for the right container */
    border-top-right-radius: 50px;
    margin-top: 5%;
  }
  .login-right-container h1 {
    font-size: 30px;
    line-height: 140%;
    padding: 0%;
    
  }

  .eye-icon {
    
    right: -252px; /* Adjust position for smaller screens */
  }

}
